<div class="about-img-wapper text-center">
    <h1>About Us</h1>  
</div>
<div class="container about">
    <!-- Intro Content -->
    <div class="row margin_0">
        <!-- <div class="col-md-6" style="padding-top: 30px;">
            <img class="img-responsive" src="http://placehold.it/750x450" alt="">
        </div> -->
        <div class="col-md-12">
            <h2 class="title">About Modern Business</h2>
            <p>We offer a variety of small group tours throughout Vietnam, Laos, Cambodia and Myanmar, have multiple office locations throughout the region, and offer a range of travel services including private tours as well as bookings for hotels, airlines, and rail tickets.</p>
            <p>We can also design customized tour packages according to your needs and interests.  We will arrange private, custom tours for your group or family of any size, and can focus your tour on nature-based activities, village homestays, educational themes, or volunteer opportunities.</p>
            <p>Handspan offers you the chance to experience Vietnam in ways that ensure that your impacts on local environmental, social, and economic contexts are positive ones. Our expert knowledge about the places we visit and the local challenges they face, enables us to design and operate tours that promote a balance between the need for economic development and ecological preservation. We do this through working closely with local communities, partnerships with NGOs and development organizations, and ensuring our guides are highly trained in ecotourism principles.</p>
        </div>
    </div>
    <!-- /.row -->

    <!-- Team Members -->
    <div class="row margin_0">
        <div class="col-lg-12">
            <h2 class="page-header title">Our Team</h2>
        </div>
        <div class="col-md-4 text-center">
            <div class="thumbnail">
                <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                <div class="caption">
                    <h3>AJ Tuan Hoang<br>
                        <small>Tour Guide</small>
                    </h3>
                   
                    <ul class="list-inline">
                        <li><a href="skype:tuan.hm2501?chat"><i class="fa fa-2x fa-skype"></i></a>
                        </li>
                        <li><a href="tel:+84 938 144 236"><i class="fa fa-2x fa-phone"></i></a>
                        </li>
                        <li><a href="mailto:tuan.hoang@tkvation.com"><i class="fa fa-2x fa-envelope"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4 text-center">
            <div class="thumbnail">
                <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                <div class="caption">
                    <h3>Khanh Le<br>
                        <small>Tour Guide</small>
                    </h3>
                
                    <ul class="list-inline">
                        <li><a href="skype:nook.le?chat"><i class="fa fa-2x fa-skype"></i></a>
                        </li>
                        <li><a href="tel:+84938924246"><i class="fa fa-2x fa-phone"></i></a>
                        </li>
                        <li><a href="mailto:khanh.le@tkvation.com"><i class="fa fa-2x fa-envelope"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-md-4 text-center">
            <div class="thumbnail">
                <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                <div class="caption">
                    <h3>Dung Tran<br>
                        <small>Tour Guide</small>
                    </h3>
                
                    <ul class="list-inline">
                        <li><a href="skype:live:c0dc73b7109c97a5?chat"><i class="fa fa-2x fa-skype"></i></a>
                        </li>
                        <li><a href="tel:+84903982268"><i class="fa fa-2x fa-phone"></i></a>
                        </li>
                        <li><a href="mailto:dung.tran@tkvation.com"><i class="fa fa-2x fa-envelope"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->
</div>