<link href="css/booking.css" rel="stylesheet">
<div class="booking-img-wapper">
    <div class="container">
    	<div class="row padding_30">
    		<div class="tour-name">
    			<h3>Argentina – Great Diving Trip</h3>
    		</div>
    	</div>
    </div>
</div>
<div class="booking">
	<div class="container">
		<div class="row info-overview padding_30">
			<h6>
				<i class="fa fa-file-text-o" aria-hidden="true"></i>Contact Details</h6>
		</div>
		<div class="row padding_30">
			<div class="col-md-7 col-sm-7 col-xs-12">
				<form class="form-horizontal form-booking">
				  	<div class="form-group">
					    <label for="" class="col-sm-2 control-label">First Name</label>
					    <div class="col-sm-10 padding_0">
					      <input type="text" class="form-control" id="inputEmail3" placeholder="First Name">
					    </div>
					</div>
				  	<div class="form-group">
					    <label for="inputEmail3" class="col-sm-2 control-label">Last Name</label>
					    <div class="col-sm-10 padding_0">
					      	<input type="text" class="form-control" id="inputEmail3" placeholder="Last Name">
					    </div>
					</div>
					<div class="form-group">
					    <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
					    <div class="col-sm-10 padding_0">
					      	<input type="email" class="form-control" id="inputEmail3" placeholder="Email">
					    </div>
					</div>
					<div class="form-group">
					    <label for="inputEmail3" class="col-sm-2 control-label">Phone</label>
					    <div class="col-sm-10 padding_0">
					      	<input type="text" class="form-control" id="inputEmail3" placeholder="Phone">
					    </div>
					</div>
					<div class="form-group">
					    <label for="inputEmail3" class="col-sm-2 control-label">Country</label>
					    <div class="col-sm-10 padding_0">
					      	<input type="text" class="form-control" id="inputEmail3" placeholder="Country">
					    </div>
					</div>

					<div class="row info-overview">
						<h6>
							<i class="fa fa-file-text-o" aria-hidden="true"></i>Note</h6>
					</div>
					<div class="form-group">
					    <label for="inputEmail3" class="col-sm-2 control-label">Note</label>
					    <div class="col-sm-10 padding_0">
					      	<!-- <input type="text" class="form-control" id="inputEmail3" placeholder="Country"> -->
					      	<textarea placeholder="Note" rows="5"></textarea>
					    </div>
					</div>
					<div class="form-group">
					    <div class="col-sm-offset-2 col-sm-10 padding_0">
					      	<button type="submit" class="btn btn-default">Send</button>
					    </div>
				  </div>
				</form>
			</div>
			<div class="col-md-5 col-sm-5 col-xs-12"></div>
			
		</div>
	</div>
</div>