<link rel="stylesheet" type="text/css" href="css/customize_tour.css">
<div class="tour-img-wapper">
    <div class="container">
    	<div class="row padding_30">
    		<div class="tour-name">
    			<h3>Customize Tour</h3>
    		</div>
    	</div>
    </div>
</div>
<div class="customize_tour">
	<div class="container">
		<div class="row padding_30">
			<div class="col-md-2 col-sm-2 col-xs-12 padding_0"></div>
			<div class="col-md-8 col-sm-8 col-xs-12 padding_0">
				<h6 class="title">
				<i class="fa fa-file-text-o" aria-hidden="true"></i>Travaller Information
				</h6>
				<div class="form_group-traveller">
					<div class="form-group">
					    <label for="inputEmail3" class="control-label">Full name</label>
					    <input type="text" class="form-control" id="inputEmail3" placeholder="Full name">
				  	</div>
				  	<div class="form-group">
					    <label for="inputPassword3" class="control-label">Email</label>
					    <input type="email" class="form-control" id="inputPassword3" placeholder="Email">
				  	</div>
				  	<div class="form-group">
					    <label for="inputPassword3" class="control-label">Phone number</label>
					    <input type="email" class="form-control" id="inputPassword3" placeholder="Phone number">
				  	</div>
					<div class="form-group">
					    <label for="inputPassword3" class="control-label">Nationality</label>
					    <input type="text" class="form-control" id="inputPassword3" placeholder="Nationality">
				  	</div>

				  	<h6 class="title">
						<i class="fa fa-file-text-o" aria-hidden="true"></i>Destinations you would like to include
					</h6>
				  	<div class="form-group">
					    <label for="inputEmail3" class="control-label">Destination</label>
					   
					    <input type="text" class="form-control" id="inputEmail3" placeholder="Destination">
				  	</div>
				  	<div class="form-group">
						    <label for="inputPassword3" class="control-label">Estimated arrival date</label>
						    <input type="text" class="form-control" id="inputPassword3" placeholder="Estimated arrival date">
					  	</div>
					  	<div class="form-group">
						    <label for="inputPassword3" class="control-label">Estimated travel duration</label>
						    <input type="text" class="form-control" id="inputPassword3" placeholder="Estimated travel duration (hour)">
					  	</div>
				  	<div class="form-group">
					    <label for="inputPassword3" class="control-label">Do you have any plans or ideas yet?</label>
					    <textarea class="form-control" rows="5"></textarea>
				  	</div>
				  	<div class="form-group">
					   <button type="submit" class="btn btn-default send">SEND</button>
				  	</div>
				</div>
			</div>
			<div class="col-md-2 col-sm-2 col-xs-12 padding_0"></div>
		</div>
	</div>
</div>