<div class="about-img-wapper text-center">
    <h1>Destinations</h1>  
</div>
<div class="container destinations">
	<div class="row margin_0">
		<div class="col-md-4 col-sm-4 col-xs-12 item">
			<div style="position: relative;">
				<img src="imgs/shutterstock_124333858-800x960.jpg">
				<div class="category-overlay hidden"></div>
				<div class="category-overlay-front"></div>
				<div class="category-head">
					<div class="category-head-display">
						<h3 class="category-title">
							<i class="fa fa-map-marker" aria-hidden="true"></i>
							South America
						</h3>
						<div class="category-count">3 tours</div>
						<div class="clearfix"></div>
					</div>
					<div class="category-head-animate">
						<a href="" class="category-head-link">VIEW ALL TOURS</a>
						<div class="category-head-divider"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4 col-sm-4 col-xs-12 item">
			<div style="position: relative;">
				<img src="imgs/shutterstock_255194035-800x960.jpg">
				<div class="category-overlay hidden"></div>
				<div class="category-overlay-front"></div>
				<div class="category-head">
					<div class="category-head-display">
						<h3 class="category-title">
							<i class="fa fa-map-marker" aria-hidden="true"></i>
							South America
						</h3>
						<div class="category-count">3 tours</div>
						<div class="clearfix"></div>
					</div>
					<div class="category-head-animate hidden">
						<a href="" class="category-head-link">VIEW ALL TOURS</a>
						<div class="category-head-divider"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4 col-sm-4 col-xs-12 item">
			<div style="position: relative;">
				<img src="imgs/shutterstock_147744218-800x960.jpg">
				<div class="category-overlay hidden"></div>
				<div class="category-overlay-front"></div>
				<div class="category-head">
					<div class="category-head-display">
						<h3 class="category-title">
							<i class="fa fa-map-marker" aria-hidden="true"></i>
							South America
						</h3>
						<div class="category-count">3 tours</div>
						<div class="clearfix"></div>
					</div>
					<div class="category-head-animate hidden">
						<a href="" class="category-head-link">VIEW ALL TOURS</a>
						<div class="category-head-divider"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4 col-sm-4 col-xs-12 item">
			<div style="position: relative;">
				<img src="imgs/Fotolia_16069076_Subscription_Monthly_XXL-800x960.jpg">
				<div class="category-overlay hidden"></div>
				<div class="category-overlay-front"></div>
				<div class="category-head">
					<div class="category-head-display">
						<h3 class="category-title">
							<i class="fa fa-map-marker" aria-hidden="true"></i>
							South America
						</h3>
						<div class="category-count">3 tours</div>
						<div class="clearfix"></div>
					</div>
					<div class="category-head-animate hidden">
						<a href="" class="category-head-link">VIEW ALL TOURS</a>
						<div class="category-head-divider"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4 col-sm-4 col-xs-12 item">
			<div style="position: relative;">
				<img src="imgs/shutterstock_120562819-800x960.jpg">
				<div class="category-overlay hidden"></div>
				<div class="category-overlay-front"></div>
				<div class="category-head">
					<div class="category-head-display">
						<h3 class="category-title">
							<i class="fa fa-map-marker" aria-hidden="true"></i>
							South America
						</h3>
						<div class="category-count">3 tours</div>
						<div class="clearfix"></div>
					</div>
					<div class="category-head-animate hidden">
						<a href="" class="category-head-link">VIEW ALL TOURS</a>
						<div class="category-head-divider"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4 col-sm-4 col-xs-12 item">
			<div style="position: relative;">
				<img src="imgs/shutterstock_147744218-800x960.jpg">
				<div class="category-overlay hidden"></div>
				<div class="category-overlay-front"></div>
				<div class="category-head">
					<div class="category-head-display">
						<h3 class="category-title">
							<i class="fa fa-map-marker" aria-hidden="true"></i>
							South America
						</h3>
						<div class="category-count">3 tours</div>
						<div class="clearfix"></div>
					</div>
					<div class="category-head-animate hidden">
						<a href="" class="category-head-link">VIEW ALL TOURS</a>
						<div class="category-head-divider"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>