<link href="css/search.css" rel="stylesheet">
<div class="tour-img-wapper">
    <div class="container">
    	<div class="row padding_30">
    		<div class="tour-name">
    			<h3>Search Tour</h3>
    		</div>
    	</div>
    </div>
</div>

<div class = "tours">
	<div class="container padding_30">
		<div class="row margin_0">
			<div class="col-md-3 col-sm-12 col-xs-12 search-banel">
				<div class="form-group">
			    	<label for="exampleInputEmail1">Keywords</label>
			    	<input type="email" class="form-control" id="exampleInputEmail1">
			  	</div>
			  	<div class="form-group">
			    	<label for="exampleInputEmail1">Destination</label>
			    	<div style="position: relative; ">
		                <select class="form-control">
		                    <option value="">Any</option>
		                    <option value="africa">Africa</option>
		                    <option value="america">America</option>
		                    <option value="asia">Asia</option>
		                    <option value="eastern-europe">Eastern Europe</option>
		                    <option value="europe">Europe</option>
		                    <option value="south-america">South America</option>
		                </select>
	                </div>
			  	</div>
			  	<div class="form-group">
			    	<label for="exampleInputEmail1">Duration</label>
			    	<div style="position: relative; ">
		                <select class="form-control">
		                   	<option value="">Any</option>
		                   	<option value="1">1 Day Tour</option>
		                   	<option value="2">2-4 Days Tour</option>
		                   	<option value="5">5-7 Days Tour</option>
		                   	<option value="7">7+ Days Tour</option>
		                </select>
	                </div>
			  	</div>
			  	<div class="form-group">
			    	<label for="exampleInputEmail1">Date</label>
			    	<input type="email" class="form-control" id="exampleInputEmail1">
			  	</div>
			  	<div class="form-group">
			  	 	<input class="form-control search-btn" type="button" value="SEARCH" name="" ng-click="search()">
			    	<!-- <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email"> -->
			  	</div>
			</div>
			<div class="col-md-9 col-sm-12 col-xs-12 tours-des">
				<div class="row item">
					<div class="col-md-3 col-sm-3 col-xs-12 padding_0">
						<a href="#!/tour/12" title="">
							<img src="imgs/shutterstock_61340065-600x700.jpg" alt="">
						</a>	
					</div>
					<div class="col-md-6 col-sm-6 col-xs-12 tour-detail-center">
						<h3 class="name">
							<a class="name-text" href="" title="">Argentina – Great Diving Trip</a>
						</h3>
						<p class="tourmaster-tour-info-duration-text">
							<i class="fa fa-clock-o"></i>
							2 Days 1 Nights
						</p>
						<p class="tourmaster-tour-info-availability">
							<i class="fa fa-calendar"></i>
							Availability : Jan 16’ - Dec 16’
						</p>
						<div class="itinerary">
							Pu Luong nature reserve is all about nature and deeply rooted ethnic cultures. This trip offers a wide array of natural sceneries: jungle, terraced rice fields, forested. Pu Luong nature reserve is all about nature and deeply rooted ethnic cultures. This trip offers a wide array of natural sceneries: jungle, terraced rice fields, forested...
						
							<!-- <p class="itinerary">
								Pu Luong nature reserve is all about nature and deeply rooted ethnic cultures. This trip offers a wide array of natural sceneries: jungle, terraced rice fields, forested...
							</p> -->
						</div>
						
					</div>
					<div class="col-md-3 col-sm-3 col-xs-12 tour-detail-right">
						<div class="tours-price">
							<p class="price-value-dolar">$1,200</p>
							<p class="price-value-vnd">2.000.000 VND</p>
							<input type="submit" class="tours-details-btn" name="" value="VIEW DETAILS">
						</div>

					</div>
				</div>
				<div class="row item">
					<div class="col-md-3 col-sm-3 col-xs-12 padding_0">
						<a href="" title="">
							<img src="imgs/shutterstock_61340065-600x700.jpg" alt="">
						</a>	
					</div>
					<div class="col-md-6 col-sm-6 col-xs-12 tour-detail-center">
						<h3 class="name">
							<a class="name-text" href="" title="">Argentina – Great Diving Trip</a>
						</h3>
						<p class="tourmaster-tour-info-duration-text">
							<i class="fa fa-clock-o"></i>
							2 Days 1 Nights
						</p>
						<p class="tourmaster-tour-info-availability">
							<i class="fa fa-calendar"></i>
							Availability : Jan 16’ - Dec 16’
						</p>
						<p class="itinerary">
							Pu Luong nature reserve is all about nature and deeply rooted ethnic cultures. This trip offers a wide array of natural sceneries: jungle, terraced rice fields, forested...
						</p>
					</div>
					<div class="col-md-3 col-sm-3 col-xs-12 tour-detail-right">
						<div class="tours-price">
							<p class="price-value-dolar">$1,200</p>
							<p class="price-value-vnd">2.000.000 VND</p>
							<input type="submit" class="tours-details-btn" name="" value="VIEW DETAILS">
						</div>

					</div>
				</div>
					<div class="row item">
					<div class="col-md-3 col-sm-3 col-xs-12 padding_0">
						<a href="" title="">
							<img src="imgs/shutterstock_61340065-600x700.jpg" alt="">
						</a>	
					</div>
					<div class="col-md-6 col-sm-6 col-xs-12 tour-detail-center">
						<h3 class="name">
							<a class="name-text" href="" title="">Argentina – Great Diving Trip</a>
						</h3>
						<p class="tourmaster-tour-info-duration-text">
							<i class="fa fa-clock-o"></i>
							2 Days 1 Nights
						</p>
						<p class="tourmaster-tour-info-availability">
							<i class="fa fa-calendar"></i>
							Availability : Jan 16’ - Dec 16’
						</p>
						<p class="itinerary">
							Pu Luong nature reserve is all about nature and deeply rooted ethnic cultures. This trip offers a wide array of natural sceneries: jungle, terraced rice fields, forested...
						</p>
					</div>
					<div class="col-md-3 col-sm-3 col-xs-12 tour-detail-right">
						<div class="tours-price">
							<p class="price-value-dolar">$1,200</p>
							<p class="price-value-vnd">2.000.000 VND</p>
							<input type="submit" class="tours-details-btn" name="" value="VIEW DETAILS">
						</div>

					</div>
				</div>
					<div class="row item">
					<div class="col-md-3 col-sm-3 col-xs-12 padding_0">
						<a href="" title="">
							<img src="imgs/shutterstock_61340065-600x700.jpg" alt="">
						</a>	
					</div>
					<div class="col-md-6 col-sm-6 col-xs-12 tour-detail-center">
						<h3 class="name">
							<a class="name-text" href="" title="">Argentina – Great Diving Trip</a>
						</h3>
						<p class="tourmaster-tour-info-duration-text">
							<i class="fa fa-clock-o"></i>
							2 Days 1 Nights
						</p>
						<p class="tourmaster-tour-info-availability">
							<i class="fa fa-calendar"></i>
							Availability : Jan 16’ - Dec 16’
						</p>
						<p class="itinerary">
							Pu Luong nature reserve is all about nature and deeply rooted ethnic cultures. This trip offers a wide array of natural sceneries: jungle, terraced rice fields, forested...
						</p>
					</div>
					<div class="col-md-3 col-sm-3 col-xs-12 tour-detail-right">
						<div class="tours-price">
							<p class="price-value-dolar">$1,200</p>
							<p class="price-value-vnd">2.000.000 VND</p>
							<input type="submit" class="tours-details-btn" name="" value="VIEW DETAILS">
						</div>

					</div>
				</div>
					<div class="row item">
					<div class="col-md-3 col-sm-3 col-xs-12 padding_0">
						<a href="" title="">
							<img src="imgs/shutterstock_61340065-600x700.jpg" alt="">
						</a>	
					</div>
					<div class="col-md-6 col-sm-6 col-xs-12 tour-detail-center">
						<h3 class="name">
							<a class="name-text" href="" title="">Argentina – Great Diving Trip</a>
						</h3>
						<p class="tourmaster-tour-info-duration-text">
							<i class="fa fa-clock-o"></i>
							2 Days 1 Nights
						</p>
						<p class="tourmaster-tour-info-availability">
							<i class="fa fa-calendar"></i>
							Availability : Jan 16’ - Dec 16’
						</p>
						<p class="itinerary">
							Pu Luong nature reserve is all about nature and deeply rooted ethnic cultures. This trip offers a wide array of natural sceneries: jungle, terraced rice fields, forested...
						</p>
					</div>
					<div class="col-md-3 col-sm-3 col-xs-12 tour-detail-right">
						<div class="tours-price">
							<p class="price-value-dolar">$1,200</p>
							<p class="price-value-vnd">2.000.000 VND</p>
							<input type="submit" class="tours-details-btn" name="" value="VIEW DETAILS">
						</div>

					</div>
				</div>
			</div>
			<!-- <div class="col-md-3 col-sm-12 col-xs-12">
				<div class="other-destinations">
					<h3 style="margin-top: 0;" >Other destinations</h3>	
					<div class="item">
						<a href="" title="">
							<img src="imgs/shutterstock_151616084-700x450.jpg" alt="">
						</a>
						<div class="other-des-name">
							<div class="other-des-name-value" style="float: left;">
								ASSI
							</div>
							<div style="float: right;">
								3 tours
							</div>
							<div class="clearfix">
								
							</div>
						</div>
					</div>
					<div class="item">
						<a href="" title="">
							<img src="imgs/shutterstock_151616084-700x450.jpg" alt="">
						</a>
						<div class="other-des-name">
							<div class="other-des-name-value" style="float: left;">
								ASSI
							</div>
							<div style="float: right;">
								3 tours
							</div>
							<div class="clearfix">
								
							</div>
						</div>
					</div>
					<div class="item">
						<a href="" title="">
							<img src="imgs/shutterstock_151616084-700x450.jpg" alt="">
						</a>
						<div class="other-des-name">
							<div class="other-des-name-value" style="float: left;">
								ASSI
							</div>
							<div style="float: right;">
								3 tours
							</div>
							<div class="clearfix">
								
							</div>
						</div>
					</div>
					<div class="item">
						<a href="" title="">
							<img src="imgs/shutterstock_151616084-700x450.jpg" alt="">
						</a>
						<div class="other-des-name">
							<div class="other-des-name-value" style="float: left;">
								ASSI
							</div>
							<div style="float: right;">
								3 tours
							</div>
							<div class="clearfix">
								
							</div>
						</div>
					</div>
					<div class="item">
						<a href="" title="">
							<img src="imgs/shutterstock_151616084-700x450.jpg" alt="">
						</a>
						<div class="other-des-name">
							<div class="other-des-name-value" style="float: left;">
								ASSI
							</div>
							<div style="float: right;">
								3 tours
							</div>
							<div class="clearfix">
								
							</div>
						</div>
					</div>
					<div class="item">
						<a href="" title="">
							<img src="imgs/shutterstock_151616084-700x450.jpg" alt="">
						</a>
						<div class="other-des-name">
							<div class="other-des-name-value" style="float: left;">
								ASSI
							</div>
							<div style="float: right;">
								3 tours
							</div>
							<div class="clearfix">
								
							</div>
						</div>
					</div>
				</div>
				

			</div> -->
		</div>	
	</div>
</div>