<link href="css/tours.css" rel="stylesheet">
<div class="about-img-wapper text-center">
    <h1>Destination</h1>
    <h3>Sapa</h3>
</div>
<div class = "tours">
	<div class="container padding_30">
		<div class="row margin_0">
			<div class="col-md-9 col-sm-12 col-xs-12 tours-des">
				<div class="row item">
					<div class="col-md-3 col-sm-3 col-xs-12 padding_0">
						<a href="#!/tour/12" title="">
							<img src="imgs/shutterstock_61340065-600x700.jpg" alt="">
						</a>	
					</div>
					<div class="col-md-6 col-sm-6 col-xs-12 tour-detail-center">
						<h3 class="name">
							<a class="name-text" href="#!/tour/12" title="">Argentina – Great Diving Trip</a>
						</h3>
						<p class="tourmaster-tour-info-duration-text">
							<i class="fa fa-clock-o"></i>
							2 Days 1 Nights
						</p>
						<p class="tourmaster-tour-info-availability">
							<i class="fa fa-calendar"></i>
							Availability : Jan 16’ - Dec 16’
						</p>
						<div class="itinerary">
							Pu Luong nature reserve is all about nature and deeply rooted ethnic cultures. This trip offers a wide array of natural sceneries: jungle, terraced rice fields, forested. Pu Luong nature reserve is all about nature and deeply rooted ethnic cultures. This trip offers a wide array of natural sceneries: jungle, terraced rice fields, forested...
						
							<!-- <p class="itinerary">
								Pu Luong nature reserve is all about nature and deeply rooted ethnic cultures. This trip offers a wide array of natural sceneries: jungle, terraced rice fields, forested...
							</p> -->
						</div>
						
					</div>
					<div class="col-md-3 col-sm-3 col-xs-12 tour-detail-right">
						<div class="tours-price">
							<p class="price-value-dolar">$1,200</p>
							<p class="price-value-vnd">2.000.000 VND</p>
							<!-- <input type="submit" class="tours-details-btn" name="" value="VIEW DETAILS"> -->
							<a href="#!/tour/12" class="tours-details-btn">VIEW DETAILS</a>
						</div>

					</div>
				</div>
				<div class="row item">
					<div class="col-md-3 col-sm-3 col-xs-12 padding_0">
						<a href="#!/tour/12" title="">
							<img src="imgs/shutterstock_61340065-600x700.jpg" alt="">
						</a>	
					</div>
					<div class="col-md-6 col-sm-6 col-xs-12 tour-detail-center">
						<h3 class="name">
							<a class="name-text" href="#!/tour/12" title="">Argentina – Great Diving Trip</a>
						</h3>
						<p class="tourmaster-tour-info-duration-text">
							<i class="fa fa-clock-o"></i>
							2 Days 1 Nights
						</p>
						<p class="tourmaster-tour-info-availability">
							<i class="fa fa-calendar"></i>
							Availability : Jan 16’ - Dec 16’
						</p>
						<p class="itinerary">
							Pu Luong nature reserve is all about nature and deeply rooted ethnic cultures. This trip offers a wide array of natural sceneries: jungle, terraced rice fields, forested...
						</p>
					</div>
					<div class="col-md-3 col-sm-3 col-xs-12 tour-detail-right">
						<div class="tours-price">
							<p class="price-value-dolar">$1,200</p>
							<p class="price-value-vnd">2.000.000 VND</p>
							<a href="#!/tour/12" class="tours-details-btn">VIEW DETAILS</a>
						</div>

					</div>
				</div>
					<div class="row item">
					<div class="col-md-3 col-sm-3 col-xs-12 padding_0">
						<a href="#!/tour/12" title="">
							<img src="imgs/shutterstock_61340065-600x700.jpg" alt="">
						</a>	
					</div>
					<div class="col-md-6 col-sm-6 col-xs-12 tour-detail-center">
						<h3 class="name">
							<a class="name-text" href="#!/tour/12" title="">Argentina – Great Diving Trip</a>
						</h3>
						<p class="tourmaster-tour-info-duration-text">
							<i class="fa fa-clock-o"></i>
							2 Days 1 Nights
						</p>
						<p class="tourmaster-tour-info-availability">
							<i class="fa fa-calendar"></i>
							Availability : Jan 16’ - Dec 16’
						</p>
						<p class="itinerary">
							Pu Luong nature reserve is all about nature and deeply rooted ethnic cultures. This trip offers a wide array of natural sceneries: jungle, terraced rice fields, forested...
						</p>
					</div>
					<div class="col-md-3 col-sm-3 col-xs-12 tour-detail-right">
						<div class="tours-price">
							<p class="price-value-dolar">$1,200</p>
							<p class="price-value-vnd">2.000.000 VND</p>
							<a href="#!/tour/12" class="tours-details-btn">VIEW DETAILS</a>
						</div>

					</div>
				</div>
					<div class="row item">
					<div class="col-md-3 col-sm-3 col-xs-12 padding_0">
						<a href="#!/tour/12" title="">
							<img src="imgs/shutterstock_61340065-600x700.jpg" alt="">
						</a>	
					</div>
					<div class="col-md-6 col-sm-6 col-xs-12 tour-detail-center">
						<h3 class="name">
							<a class="name-text" href="#!/tour/12" title="">Argentina – Great Diving Trip</a>
						</h3>
						<p class="tourmaster-tour-info-duration-text">
							<i class="fa fa-clock-o"></i>
							2 Days 1 Nights
						</p>
						<p class="tourmaster-tour-info-availability">
							<i class="fa fa-calendar"></i>
							Availability : Jan 16’ - Dec 16’
						</p>
						<p class="itinerary">
							Pu Luong nature reserve is all about nature and deeply rooted ethnic cultures. This trip offers a wide array of natural sceneries: jungle, terraced rice fields, forested...
						</p>
					</div>
					<div class="col-md-3 col-sm-3 col-xs-12 tour-detail-right">
						<div class="tours-price">
							<p class="price-value-dolar">$1,200</p>
							<p class="price-value-vnd">2.000.000 VND</p>
							<a href="#!/tour/12" class="tours-details-btn">VIEW DETAILS</a>
						</div>

					</div>
				</div>
					<div class="row item">
					<div class="col-md-3 col-sm-3 col-xs-12 padding_0">
						<a href="#!/tour/12" title="">
							<img src="imgs/shutterstock_61340065-600x700.jpg" alt="">
						</a>	
					</div>
					<div class="col-md-6 col-sm-6 col-xs-12 tour-detail-center">
						<h3 class="name">
							<a class="name-text" href="#!/tour/12" title="">Argentina – Great Diving Trip</a>
						</h3>
						<p class="tourmaster-tour-info-duration-text">
							<i class="fa fa-clock-o"></i>
							2 Days 1 Nights
						</p>
						<p class="tourmaster-tour-info-availability">
							<i class="fa fa-calendar"></i>
							Availability : Jan 16’ - Dec 16’
						</p>
						<p class="itinerary">
							Pu Luong nature reserve is all about nature and deeply rooted ethnic cultures. This trip offers a wide array of natural sceneries: jungle, terraced rice fields, forested...
						</p>
					</div>
					<div class="col-md-3 col-sm-3 col-xs-12 tour-detail-right">
						<div class="tours-price">
							<p class="price-value-dolar">$1,200</p>
							<p class="price-value-vnd">2.000.000 VND</p>
							<a href="#!/tour/12" class="tours-details-btn">VIEW DETAILS</a>
						</div>

					</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-12 col-xs-12">
				<div class="other-destinations">
					<h3>Other destinations</h3>	
					<div class="item">
						<a href="#!/tours/1" title="">
							<img src="imgs/shutterstock_151616084-700x450.jpg" alt="">
						</a>
						<div class="other-des-name">
							<div class="other-des-name-value" style="float: left;">
								ASSI
							</div>
							<div style="float: right;">
								3 tours
							</div>
							<div class="clearfix">
								
							</div>
						</div>
					</div>
					<div class="item">
						<a href="#!/tours/1" title="">
							<img src="imgs/shutterstock_151616084-700x450.jpg" alt="">
						</a>
						<div class="other-des-name">
							<div class="other-des-name-value" style="float: left;">
								ASSI
							</div>
							<div style="float: right;">
								3 tours
							</div>
							<div class="clearfix">
								
							</div>
						</div>
					</div>
					<div class="item">
						<a href="#!/tours/1" title="">
							<img src="imgs/shutterstock_151616084-700x450.jpg" alt="">
						</a>
						<div class="other-des-name">
							<div class="other-des-name-value" style="float: left;">
								ASSI
							</div>
							<div style="float: right;">
								3 tours
							</div>
							<div class="clearfix">
								
							</div>
						</div>
					</div>
					<div class="item">
						<a href="#!/tours/1" title="">
							<img src="imgs/shutterstock_151616084-700x450.jpg" alt="">
						</a>
						<div class="other-des-name">
							<div class="other-des-name-value" style="float: left;">
								ASSI
							</div>
							<div style="float: right;">
								3 tours
							</div>
							<div class="clearfix">
								
							</div>
						</div>
					</div>
					<div class="item">
						<a href="#!/tours/1" title="">
							<img src="imgs/shutterstock_151616084-700x450.jpg" alt="">
						</a>
						<div class="other-des-name">
							<div class="other-des-name-value" style="float: left;">
								ASSI
							</div>
							<div style="float: right;">
								3 tours
							</div>
							<div class="clearfix">
								
							</div>
						</div>
					</div>
					<div class="item">
						<a href="#!/tours/1" title="">
							<img src="imgs/shutterstock_151616084-700x450.jpg" alt="">
						</a>
						<div class="other-des-name">
							<div class="other-des-name-value" style="float: left;">
								ASSI
							</div>
							<div style="float: right;">
								3 tours
							</div>
							<div class="clearfix">
								
							</div>
						</div>
					</div>
				</div>
				

			</div>
		</div>	
	</div>
</div>
